//- layout.jade
doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Tuberculosis Detection and Care System")
    meta(name="author", content="Garuda2045")
    block title
      title TBDeCare
    link(href="dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="dist/css/font-awesome.min.css", rel="stylesheet")
    link(href="dist/css/ie10-viewport-bug-workaround.css", rel="stylesheet")
    link(href="dist/css/signin.css", rel="stylesheet")
  body

    div(class="container")

      form(class="form-signin", action="home.html")
        img(src="dist/img/logo.png", alt="TBDeCare", width="300")
        h2(class="form-signin-heading") Please sign in
        label(for="username", class="sr-only") Username
        input(type="text", id="username", class="form-control", placeholder="Username", required, autofocus)
        label(for="inputPassword", class="sr-only") Password
        input(type="password", id="inputPassword", class="form-control", placeholder="Password", required)
        div(class="checkbox")
          label
            input(type="checkbox", value="remember-me")
          | Remember me
        button(class="btn btn-lg btn-primary btn-block", type="submit") Sign in

    script(src="../../assets/js/ie10-viewport-bug-workaround.js")
