extends patient

block header
    h1(class="page-header") Lab Result - Microscopic AFB

block patient_form
    h4 Image
    img(src="dist/img/afb.jpg", class="img-thumbnail", width="300")

    h4 Result
    p Negative

    h4 Date
    p 15.Jan.2016

    h4 Analyst
    p John Smith