//- layout.jade
doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Tuberculosis Detection and Care System")
    meta(name="author", content="Garuda2045")
    block title
      title TBDeCare
    block styles
      link(href="dist/css/bootstrap.min.css", rel="stylesheet")
      link(href="dist/css/bootstrap-datetimepicker.min.css", rel="stylesheet")
      link(href="dist/css/font-awesome.min.css", rel="stylesheet")
      link(href="dist/css/ie10-viewport-bug-workaround.css", rel="stylesheet")
      link(href="dist/css/dashboard.css", rel="stylesheet")
  body
    nav(class="navbar navbar-default navbar-fixed-top")
      div(class="container-fluid")
        div(class="navbar-header")
          button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand", href="#")
            img(alt="TBDeCare", src="dist/img/logo.png", width="45")
        div(id="navbar", class="navbar-collapse collapse")
          ul(class="nav navbar-nav navbar-right")
            li
              a(href="#") Hello,
                span(style="color: #A4C400")  Admin
            li
              a(href="#") Settings
            li
              a(href="#") Profile
            li
              a(href="#") Help

    div(class="container-fluid")
      div(class="row")
        div(class="col-sm-3 col-md-2 sidebar")
          ul(class="nav nav-sidebar")
            block sidebar
              li(class="active")
                a(href="home.html") Home
              li
                a(href="findpatient.html") Patients
              li
                a(href="prevalence.html") Analytics
              li
                a(href="#") Export
        div(class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main")
          block content

    block scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
      script window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
      script(src="dist/js/bootstrap.min.js")
      script(src="dist/js/ie10-viewport-bug-workaround.js")