extends patient

block header
  h1(class="page-header") Treatment

block patient_form
  form(action="patient.html")
    legend Treatment
    #drugs
    legend Side Effects
    div(class="checkbox")
      label(for="Jaundice")
      input(type="checkbox", id="jaundice")
      | Jaundice
    div(class="checkbox")
      label(for="Fever")
      input(type="checkbox", id="fever")
      | Fever
    div(class="checkbox")
      label(for="numbness")
      input(type="checkbox", id="numbness")
      | Tingling or numbness in your hands or feet
    div(class="checkbox")
      label(for="itchy")
      input(type="checkbox", id="itchy")
      | A rash or itchy skin
    div(class="checkbox")
      label(for="blurred_vision")
      input(type="checkbox", id="blurred_vision")
      | Changes to the eye vision, such as blurred vision
    div(class="checkbox")
      label(for="nausea")
      input(type="checkbox", id="nausea")
      | Nausea
    div(class="checkbox")
      label(for="vomiting")
      input(type="checkbox", id="vomiting")
      | Vomiting
    div(class="checkbox")
      label(for="others")
      input(type="checkbox", id="others")
      | Others
    legend Drug Resistant Test
    div(class="form-group")
      label(for="drug_resistant") Select one:
      .input-group
        select(class="form-control", name="drug_resistant")
          option None
          option Mono resistance
          option Poly resistance
          option Multi Drug Resistance (MDR)
          option Extensively Drug Resistance (XDR)
          option Total Drug Resistance (TDR)
          option Rifampicin Resistance (RR)
    button(type="submit", class="btn btn-primary") Submit
    a(href="patient.html", class="btn btn-default") Cancel

block append scripts
  script(src="dist/js/drugs.js")