extends patient

block header
  h1(class="page-header") Treatment

block patient_form
  form(action="patient.html")
    legend Treatment
    .row#drugs
      div(class="form-group col-xs-4")
        label(for="medication[]") Medication
        select(class="form-control", name="medication[]")
          option(value="HRZE") FDC 4 combination (HRZE)
          option(value="HR") FDC 2 combination (HR)
          option(value="H") Isoniazid (H)
          option(value="R") Rifampisin (R)
          option(value="Z") Pirazinamid (Z)
          option(value="E") Etambutol (E)
          option(value="S") Streptomisin (S)
          option(value="HRZ") FDC for children (HRZ)
          option(value="Km") Kanamysin (Km)
          option(value="Cm") Capreomysin (Cm)
          option(value="Lfx") Levofloksasin (Lfx)
          option(value="Mfx") Moksifloksasin (Mfx)
          option(value="Etio") Ethionamide (Etio)
          option(value="Cs") Cycloserine (Cs)
          option(value="PAS") Para-aminosalicyclic Acid (PAS)
      div(class="form-group col-xs-4")
        label(for="doses[]") Doses
        .input-group
          input(type="text", class="form-control", id="", name="doses[]", placeholder="")
          span(class="input-group-addon") mg/kg weight
      div(class="form-group col-xs-4")
        label(for="frequency[]") Frequency
        //- n times/day
        .input-group
          select(class="form-control", name="frequency[]")
            - for (var i = 1; i <=7; i++)
              option(value="#{i}") #{i} times a week
    span(class="btn btn-default btn-sm", id="add-treatment") Add another
    legend Side Effects
    div(class="checkbox")
      label(for="Jaundice")
      input(type="checkbox", id="jaundice")
      | Jaundice
    div(class="checkbox")
      label(for="Fever")
      input(type="checkbox", id="fever")
      | Fever
    div(class="checkbox")
      label(for="numbness")
      input(type="checkbox", id="numbness")
      | Tingling or numbness in your hands or feet
    div(class="checkbox")
      label(for="itchy")
      input(type="checkbox", id="itchy")
      | A rash or itchy skin
    div(class="checkbox")
      label(for="blurred_vision")
      input(type="checkbox", id="blurred_vision")
      | Changes to the eye vision, such as blurred vision
    div(class="checkbox")
      label(for="nausea")
      input(type="checkbox", id="nausea")
      | Nausea
    div(class="checkbox")
      label(for="vomiting")
      input(type="checkbox", id="vomiting")
      | Vomiting
    div(class="checkbox")
      label(for="others")
      input(type="checkbox", id="others")
      | Others
    legend Drug Resistant Test
    div(class="form-group")
      label(for="drug_resistant") Select one:
      .input-group
        select(class="form-control", name="drug_resistant")
          option None
          option Mono resistance
          option Poly resistance
          option Multi Drug Resistance (MDR)
          option Extensively Drug Resistance (XDR)
          option Total Drug Resistance (TDR)
          option Rifampicin Resistance (RR)
    button(type="submit", class="btn btn-primary") Submit
    a(href="patient.html", class="btn btn-default") Cancel