{% extends 'patient/show.html' %}
{% load staticfiles %}

{% block pageheader %}
<h1 class="page-header">Treatment</h1>
{% endblock %}

{% block body %}
{% if messages %}
<div class="alert alert-danger">
    {% for message in messages %}
    <i class="fa fa-exclamation-triangle"></i> <strong>Oops!</strong> {{ message }}
    {% endfor %}
</div>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <div id="drugs"></div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button><a href="{% url 'patient.views.patient_show' patient.id %}" class="btn btn-default">Cancel</a>
</form>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/drugs.js' %}"></script>
{% endblock %}