{% extends 'patient/show.html' %}
{% load staticfiles %}

{% block pageheader %}
<h1 class="page-header">Appointment</h1>
{% endblock %}

{% block body %}
{% if messages %}
<div class="alert alert-danger">
    {% for message in messages %}
    <i class="fa fa-exclamation-triangle"></i> <strong>Oops!</strong> {{ message }}
    {% endfor %}
</div>
{% endif %}
<form action="" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="service_type">Service type</label>
      <select id="service_type" name="service_type" class="form-control">
        <option value="C">Consultation</option>
        <option value="L">Lab test</option>
        <option value="M">Medical check up</option>
      </select>
  </div>
  <div class="form-group">
    <label for="height">Agenda</label>
    <div class="row">
      <div class="col-md-4">
        <textarea rows="3" name="agenda" class="form-control"></textarea>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="date">Date</label>
    <div class="input-group col-md-4">
      <input type="text" id="date" name="date" placeholder="YYYY-MM-DD HH:MM" class="form-control"><span class="input-group-btn"><a class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-calendar"></span></a></span>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button><a href="{% url 'patient.views.patient_show' patient.id %}" class="btn btn-default">Cancel</a>
</form>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">$(function () {$("#date").datetimepicker().data("DateTimePicker").format('YYYY-MM-DD HH:mm');})</script>
{% endblock %}