{% extends 'patient/show.html' %}
{% load staticfiles %}

{% block pageheader %}
<h1 class="page-header">TB Screening Form - {{ screening.date_created }}</h1>
{% endblock %}

{% block body %}
<form action="" method="post">
    <fieldset disabled>
      <legend>Symptoms</legend>
      <div class="checkbox">
        <label for="cough">
          <input type="checkbox" name="cough" id="cough" {% if screening.cough %}checked{% endif %}> Coughing that lasts three or more weeks
        </label>
      </div>
      <div class="checkbox">
        <label for="haemoptysis">
          <input type="checkbox" name="haemoptysis" id="haemoptysis" {% if screening.haemoptysis %}checked{% endif %}> Coughing up blood
        </label>
      </div>
      <div class="checkbox">
        <label for="chest_pain">
          <input type="checkbox" name="chest_pain" id="chest_pain" {% if screening.chest_pain %}checked{% endif %}> Chest pain, or pain with breathing or coughing
        </label>
      </div>
      <div class="checkbox">
        <label for="weight_loss">
          <input type="checkbox" name="weight_loss" id="weight_loss" {% if screening.weight_loss %}checked{% endif %}> Unintentional weight loss
        </label>
      </div>
      <div class="checkbox">
        <label for="fatigue">
          <input type="checkbox" name="fatigue" id="fatigue" {% if screening.fatigue %}checked{% endif %}> Fatigue
        </label>
      </div>
      <div class="checkbox">
        <label for="fever">
          <input type="checkbox" name="fever" id="fever" {% if screening.fever %}checked{% endif %}> Fever
        </label>
      </div>
      <div class="checkbox">
        <label for="night_sweats">
          <input type="checkbox" name="night_sweats" id="night_sweats" {% if screening.night_sweats %}checked{% endif %}> Night sweats
        </label>
      </div>
      <div class="checkbox">
        <label for="chills">
          <input type="checkbox" name="chills" id="chills" {% if screening.chills %}checked{% endif %}> Chills
        </label>
      </div>
      <div class="checkbox">
        <label for="other_symptoms">
          <input type="checkbox" name="other_symptoms" id="other_symptoms" {% if screening.other_symptoms %}checked{% endif %}> Others
        </label>
      </div>
      <legend>Diagnosis</legend>
      <div id="diagnosis"></div>
      <legend>Underlying Medical Condition</legend>
      <div class="checkbox">
        <label for="meningitis">
          <input type="checkbox" name="meningitis" id="meningitis" {% if screening.meningitis %}checked{% endif %}> Meningitis
        </label>
      </div>
      <div class="checkbox">
        <label for="pregnant">
          <input type="checkbox" name="pregnant" id="pregnant" {% if screening.pregnant %}checked{% endif %}> Pregnant
        </label>
      </div>
      <div class="checkbox">
        <label for="immunocompromised">
          <input type="checkbox" name="immunocompromised" id="immunocompromised" {% if screening.immunocompromised %}checked{% endif %}> Immunocompromised patient
        </label>
      </div>
      <div class="checkbox">
        <label for="malnutrition">
          <input type="checkbox" name="malnutrition" id="malnutrition" {% if screening.malnutrition %}checked{% endif %}> Malnutrition
        </label>
      </div>
      <div class="checkbox">
        <label for="coinfection">
          <input type="checkbox" name="coinfection" id="coinfection" {% if screening.coinfection %}checked{% endif %}> Co-infection with any infectious disease
        </label>
      </div>
      <div class="checkbox">
        <label for="comorbid">
          <input type="checkbox" name="comorbid" id="comorbid" {% if screening.comorbid %}checked{% endif %}> Others
        </label>
      </div>
      <legend>HIV Infection</legend>
      <div class="form-group">
        <label for="hiv">Is the patient infected by HIV?</label>
        <select name="hiv" class="form-control">
          <option {% if screening.hiv == '0' %}selected="true"{% endif %} value="0">No</option>
          <option {% if screening.hiv == '1' %}selected="true"{% endif %} value="1">Yes</option>
          <option {% if screening.hiv == '99' %}selected="true"{% endif %} value="99">Unknown</option>
        </select>
      </div>
      <legend>TB Exposure</legend>
      <div class="form-group">
        <label for="tb_exposure">Select one:</label>
        <select name="tb_exposure" class="form-control">
          <option {% if screening.tb_exposure == '1' %}selected="true"{% endif %} value="1">One member of family in the same house had previous TB</option>
          <option {% if screening.tb_exposure == '2' %}selected="true"{% endif %} value="2">One member of family in the same house has active TB infection</option>
          <option {% if screening.tb_exposure == '3' %}selected="true"{% endif %} value="3">Contact with person infected with TB</option>
          <option {% if screening.tb_exposure == '99' %}selected="true"{% endif %} value="99">Unknown</option>
        </select>
      </div>
  </fieldset>
  <a href="{% url 'patient.views.patient_show' patient.id %}" class="btn btn-default">Back</a>
</form>
{% endblock %}