<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tuberculosis Detection and Care System">
    <meta name="author" content="Garuda2045">
    <title>TBDeCare</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><img alt="TBDeCare" src="{% static 'img/logo.png' %}" width="45"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Hello,<span style="color: #A4C400"> Admin</span></a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'patient.views.index' %}">Home</a></li>
            <li><a href="{% url 'patient.views.patient_index' %}">Patients</a></li>
            <li><a href="prevalence.html">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
        </div>
        {% block content %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>
          <h2 class="sub-header">Find Patient Record</h2>
          <form action="{% url 'patient.views.patient_index' %}">
            <div class="form-group">
              <label for="query">Find patient</label>
              <input type="text" id="query" name="query" placeholder="Search by ID or name" class="form-control">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
          <h2 class="sub-header">Enroll New Patient</h2>
          <form action="{% url 'patient.views.patient_create' %}" method="get">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" placeholder="" required="true" class="form-control">
            </div>
            <div class="form-group">
              <label for="birthdate">Birthdate</label>
              <div class="input-group">
                <input type="text" id="birthdate" name="birthdate" placeholder="YYYY-MM-DD" required="true" class="form-control"><span class="input-group-btn"><a class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-calendar"></span></a></span>
              </div>
            </div>
            <div class="form-group">
              <label for="gender">Gender</label><br>
              <label class="radio-inline">
                <input type="radio" name="gender" id="genderM" value="M">Male
              </label>
              <label class="radio-inline">
                <input type="radio" name="gender" id="genderF" value="F">Female
              </label>
            </div>
            <button type="submit" class="btn btn-default">Enroll</button>
          </form>
        </div>
        {% endblock %}
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    {% block javascript %}
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript">$(function () {$("#birthdate").datetimepicker().data("DateTimePicker").format('YYYY-MM-DD');})</script>
    {% endblock %}
  </body>
</html>