{% extends 'index.html' %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/maps.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  {% block pageheader %}
  <h1 class="page-header">TB Prevalence</h1>
  {% endblock %}
  <div id="googleMap"></div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="http://dj.inovasisehat.co.id/static/pemetaan/markerclusterer.js"></script>
<script src="{% static 'js/maps.js' %}"></script>
{% endblock %}