{% extends 'index.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  {% block pageheader %}
  <h1 class="page-header">Patient Dashboard</h1>
  {% endblock %}
  <h2><a href="{% url 'patient.views.patient_show' patient.id %}">{{ patient.first_name }} {{ patient.last_name }}</a><span class="pull-right">Patient ID: {{ patient.identifier }}</span></h2>
  <p>{{ patient.gender }}, {{ patient.age }} yo - {{ patient.birthdate }}</p>
  <hr>
  {% block body %}
  {% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
        <i class="fa fa-check"></i> <strong>Success!</strong> {{ message }}
        {% endfor %}
    </div>
  {% endif %}
  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-stethoscope"></i> Diagnoses</h3>
        </div>
        <div class="panel-body"><strong>Last updated: 16.Feb.2016</strong></div>
        <ul class="list-group">
          <li class="list-group-item">TB Positive</li>
          <li class="list-group-item">MDR Negative</li>
        </ul>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-heartbeat"></i> Vitals</h3>
        </div>
        <div class="panel-body"><strong>Last updated: {{ vitals.date_created }}</strong></div>
        <ul class="list-group">
          <li class="list-group-item"><a href="measurement.html" class="text-success">Height</a><span class="pull-right">{{ vitals.height }} cm</span></li>
          <li class="list-group-item"><a href="measurement.html" class="text-success">Weight</a><span class="pull-right">{{ vitals.weight }} kg</span></li>
          <li class="list-group-item"><a href="measurement.html" class="text-success">Temperature</a><span class="pull-right">{{ vitals.temperature }}°C</span></li>
          <li class="list-group-item"><a href="measurement.html" class="text-success">Pulse</a><span class="pull-right">{{ vitals.pulse }}/min</span></li>
          <li class="list-group-item"><a href="measurement.html" class="text-success">Respiratory rate</a><span class="pull-right">{{ vitals.respiratory_rate }}/min</span></li>
          <li class="list-group-item"><a href="measurement.html" class="text-success">Blood pressure</a><span class="pull-right">{{ vitals.bp_systole }}/{{ vitals.bp_diastole }}</span></li>
        </ul>
      </div>
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-file-text"></i> Lab Result</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Test</th>
              <th>Result</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% for lab_result in lab_results %}
            <tr>
              <td><a href="{% url 'patient.views.lab_result_show' patient.id lab_result.id %}">{{ lab_result.test_name }}</a></td>
              <td>{{ lab_result.result }}</td>
              <td>{{ lab_result.date_created }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><span aria-hidden="true" class="glyphicon glyphicon-calendar"></span> Appointments</h3>
        </div>
        <div class="panel-body"><strong>Upcoming appointment: {{ upcoming_appt.date }}</strong></div>
        <div class="list-group">
            {% for appointment in appointments %}
            <a href="#" class="list-group-item">{{ appointment.date }}</a>
            {% endfor %}
        </div>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-medkit"></i> Treatment</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Item</th>
              <th>Dose</th>
              <th>Frequency</th>
              <th>Start date</th>
            </tr>
          </thead>
          <tbody>
            {% for treatment in treatments %}
            <tr>
              <td>{{ treatment.get_medication_display }}</td>
              <td>{{ treatment.dosage }} mg</td>
              <td>{{ treatment.freq_day }}/day | {{ treatment.freq_week }}/week</td>
              <td>{{ treatment.start_date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span> Notes</h3>
        </div>
        <div class="panel-body">
          <div class="col-sm-12"> None</div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <legend>Current Visit Actions</legend>
      <ul>
        <li><a href="#">End Visit</a></li>
        <li><a href="screening.html">TB Form</a></li>
        <li><a href="note.html">Visit Notes</a></li>
        <li><a href="vitals.html">Capture Vitals</a></li>
        <li><a href="treatment.html">Treatment</a></li>
      </ul>
      <legend>General Actions</legend>
      <ul>
        <li><a href="{% url 'patient.views.appointment_create' patient.id %}">Schedule Appointment</a></li>
      </ul>
    </div>
  </div>
  {% endblock %}
</div>
{% endblock %}